{% extends "project_base.html" %}
{% block project_content %}
	<h1>
	{% if cur_module %}
		{{ cur_module.name }}
	{% else %}
		所有协议
	{% endif %}    
	</h1>
	
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#protocol" data-toggle="tab">
				<h3>协议</h3>
			</a>
		</li>
		<li>
			<a href="#enum" data-toggle="tab">
				<h3>枚举</h3>
			</a>
		</li>
		<li>
			<a href="#customtype" data-toggle="tab">
				<h3>类型</h3>
			</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="protocol">
			{% include "protocol_lists.html" %} 
		</div>
		<div class="tab-pane fade" id="enum">
		</div>
		<div class="tab-pane fade" id="customtype">
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			$(".pinned").pin();
		});
	
	</script>



{% endblock %}