{% load segtype %}
<div>
<div><strong class="col-md-2">枚举类型</strong><span>{{ cur_enum.name }}</span></div>
<div><strong class="col-md-2">模块</strong><span>{{ cur_enum.module.name }}</span></div>
{% if cur_enum.nested %}
<div><strong class="col-md-2">所属协议</strong><span><a class="show_belong_protocal_detail" val ="{{ cur_enum.nested.id }}" name = "{{ cur_enum.nested.name }}">{{ cur_enum.nested.name }}</a></span></div>
{% endif %}
<div><strong class="col-md-2">描述 </strong><span>{{ cur_enum.desc }}</span></div>
</div>

<hr/>
<div>
<table id="segment_lists" class="table table-hover table-condensed">
	<caption>枚举内容</caption>
    <thead>
      <tr>
         <th>名称</th>
         <th>值</th>
         <th>描述</th>
      </tr>
   </thead> 
   <tbody>
   	  {% for value in values %}
      <tr data-toggle="{{ value.desc }}" >
         <td class="show_segment_tooltips_name">{{ value.name }}</td>
         <td class="show_segment_tooltips_name">{{ value.number }}</td>
         <td class="show_segment_tooltips_name">{{ value.desc }}</td>
      </tr>
	  {% endfor %}
   </tbody>
</table>

</div>

<script>
$(document).ready(function() {
   $(".show_belong_protocal_detail").unbind('click').click(function(e) {
        e.preventDefault();
        
        var branch_key = $(this).attr('val');
        var message_key = $(this).attr('id');
        var parent_url = '{% url 'message_detail_parent' %}';
        var url = parent_url + branch_key + "/" + message_key;
        var dtitle = "协议-" + $(this).attr('name');
        console.log(url)
        BootstrapDialog.show({
            title:dtitle,
            message: $('<div></div>').load(url)
        }); 
        

        return false;
   });
});

        
</script>       