{% load segtype %}
<div>
<div><strong class="col-md-2">ID</strong><span>{{ cur_protocol.protocol_id }}</span></div>
<div><strong class="col-md-2">协议</strong><span>{{ cur_protocol.message.name }}</span></div>
<div><strong class="col-md-2">模块</strong><span>{{ cur_protocol.message.module.name }}</span></div>
<div><strong class="col-md-2">类型 </strong><span>{{ cur_protocol.protocol_label }}</span></div>
{% if cur_protocol.relate_protocol %}
<div><strong><span class="col-md-2">相关协议 </strong><span><a class="show_relate_protocol_detail">{{ cur_protocol.relate_protocol.name }}</a></span></div>
{% endif %}
<div><strong class="col-md-2">描述 </strong><span>{{ cur_protocol.message.desc }}</span></div>
</div>

<hr/>
{% if cur_protocol.nestEnums %}
<div>
  <table id="segment_lists" class="table table-hover table-condensed">
    <caption>子枚举</caption>
     <tbody>
        {% for enum in cur_protocol.nestEnums %}
          <tr>
            <td><a class='show_child_enum_detail' id = {{enum.type.id}} val={{cur_branch.id}} title={{enum.name}}>{{enum.name}}</a></td>
          </tr>
        {% endfor %}
     </tbody>
  </table>
</div>
{% endif %}
{% if cur_protocol.nestMessage %}
<div>
  <table id="segment_lists" class="table table-hover table-condensed">
    <caption>子结构</caption>
     <tbody>
        {% for message in cur_protocol.nestMessage %}
          <tr>
            <td><a class='show_child_message_detail' id={{message.type.id}} val={{cur_branch.id}} title={{message.name}}>{{message.name}}</a></td>
          </tr>
        {% endfor %}
     </tbody>
  </table>
</div>
{% endif %}

<div>
  <table id="segment_lists" class="table table-hover">
  	<caption>协议字段</caption>
      <thead>
        <tr>
           <th>#</th>
           <th>种类</th>
           <th>类型</th>
           <th>名字</th>
           <th>描述</th>
        </tr>
     </thead> 
     <tbody>
     	  {% for field in fields %}
        <tr data-toggle="{{ field.desc }}" >
           <td>{{ field.number }}</td>
           <td class="show_segment_tooltips_class">{{ field.label }}</td>
           <td class="show_segment_tooltips_type">{{ field|segtype|safe }}</td>
           <td class="show_segment_tooltips_name">{{ field.name }}</td>
           <td class="show_segment_tooltips_name">{{ field.desc }}</td>
        </tr>
  	  {% endfor %}
     </tbody>
  </table>
</div>


<script>
$(document).ready(function() {
	$(".show_relate_protocol_detail").unbind('click').click(function(e) {
		e.preventDefault();
		
      var branch_key = $(this).attr('val');
		var protocol_key = $(this).parent().attr('id');
		var parent_url = '{% url "protocol_detail_parent" %}';
		var url = parent_url + branch_key + "/" + protocol_key;
		var dtitle = "协议-" + $(this).parent().attr('title');
		console.log(url)
 		BootstrapDialog.show({
 			   title:dtitle,
            size: BootstrapDialog.SIZE_WIDE,
		      message: $('<div></div>').load(url)
		 }); 
		

		return false;
	});
   $(".show_child_message_detail").unbind('click').click(function(e) {
      e.preventDefault();
      
      var branch_key = $(this).attr('val');
      var message_key = $(this).attr('id');
      var parent_url = '{% url "message_detail_parent" %}';
      var url = parent_url + branch_key + "/" + message_key;
      var dtitle = "结构-" + $(this).attr('title');
      console.log("show_child_message_detail")
      console.log(url)
      BootstrapDialog.show({
            title:dtitle,
            size: BootstrapDialog.SIZE_WIDE,
            message: $('<div></div>').load(url)
       }); 
      

      return false;
   });
   
   $(".show_child_enum_detail").unbind('click').click(function(e) {
      e.preventDefault();
      
      var branch_key = $(this).attr('val');
      var enum_key = $(this).attr('id');
      var parent_url = '{% url "enum_detail_parent" %}';
      var url = parent_url + branch_key + "/" + enum_key;
      var dtitle = "枚举-" + $(this).attr('title');
      console.log(url)
      BootstrapDialog.show({
            title:dtitle,
            message: $('<div></div>').load(url)
       }); 
      

      return false;
   });
});

        
</script>       