

<table id="protocol_lists" class="table table-hover">
   <thead>
      <tr>
         <th>协议ID</th>
         <th>名字</th>
         <th>类型</th>
         <th>描述</th>
      </tr>
   </thead>
   <tbody>
   	{% for protocol in protocols %}
      <tr  id="{{ protocol.message.fullname }}" title="{{ protocol.message.name }}">
         <td class="show_protocol_detail">{{ protocol.protocol_id }}</td>
         <td class="show_protocol_detail">{{ protocol.message.name }}</td>
         <td class="show_protocol_detail">{{ protocol.protocol_label.name }}</td>
         <td class="show_protocol_detail">{{ protocol.message.desc }}</td>
      </tr>
	  {% endfor %}
   </tbody>
</table>

<script>
$(document).ready(function() {
	$(".show_protocol_detail").click(function(e) {
		e.preventDefault();
		
		var protocol_id = $(this).parent().attr('id');
		var parent_url = "{% url 'protocol_detail_parent' %}";
		var url = parent_url + protocol_id;
		var dtitle = "协议-" + $(this).parent().attr('title');
		console.log(url)
 		BootstrapDialog.show({
 			 title:dtitle,
		     message: $('<div></div>').load(url)
		 }); 
		

		return false;
	});
});

        
</script>        