{% extends "project_base.html" %}
{% block project_content %}
	<h1>
	{% if cur_module %}
		{{ cur_module.name }}
	{% else %}
		所有协议
	{% endif %}    
	</h1>

	<div class="pinned text-right">
		{% if cur_module %}
		<!--a href="{% url 'protocal_create' cur_project.id cur_module.id %}" id="create_protocal" class="button button-raised button-primary button-pill">新增协议</a--> 
		<a href="{% url 'enum_create' cur_module.id %}" id="enum_create" class="button button-raised button-action button-pill">新增枚举</a>
		<button class="button button-raised button-primary button-pill create_custom_type" val="{{ cur_module.id }}">新增类型</button>
		{% endif %} 
	</div>
	
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#protocal" data-toggle="tab">
				<h3>协议</h3>
			</a>
		</li>
		<li>
			<a href="#enum" data-toggle="tab">
				<h3>枚举</h3>
			</a>
		</li>
		<li>
			<a href="#customtype" data-toggle="tab">
				<h3>类型</h3>
			</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="protocal">
			{% include "protocal_lists.html" %} 
		</div>
		<div class="tab-pane fade" id="enum">
		</div>
		<div class="tab-pane fade" id="customtype">
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			$(".pinned").pin();
		});
	
	</script>



{% endblock %}