{% extends "project_base.html" %}
{% block project_content %}
	<h1>
	使用文档
	</h1>
	<h3>安装</h3>
	<p>
	导出器是基于django编写的，所以运行环境需要python + django.
	另外，导出格式默认为proto，所以需要protobuff运行环境的支持。
	项目默认带了一个protoc的编译器，位于export_bin下
	</p>
	<h3>创建新项目</h3>
	<p>新项目需要填写<strong>项目名</strong>和<strong>命名空间</strong>。
	注意，<strong>命名空间</strong>会被作为proto导出在项目中使用，并且一经填写不允许改变，请慎重。
	</p>
	<h3>创建新模块</h3>
	<p>
	一个项目由若干个模块组成。创建新协议的时候必需要保证协议从属于某个模块中。
	模块不参与编译输出，只是用来管理组织。
	</p>
	<h3>创建新协议</h3>
	<p>
	协议就是最终用来作为网络收发包序列化／反序列化用的。
	创建协议时，先进入相应的模块，点击右上角创建新协议，然后输入相应的名字以及类别。
	创建成功后，请点击相应协议的<strong>编辑字段</strong>，进入字段编辑页面。
	</p>
	<h3>创建自定义类型</h3>
	<p>
	协议由多个字段组成。字段的类型除了默认的标准类型外，还可以自定义合成类型，减少复杂度和增进重用。
	创建自定义类型和创建协议类似，点击左边导航栏<strong>自定义类型</strong>，进入后点击右上角创建新类型，然后输入相应的名字以及类别。
	创建成功后，请点击相应类型的<strong>编辑字段</strong>，进入字段编辑页面。
	</p>
	
	<script>
	
	</script>



{% endblock %}