{% extends "base.html" %}
{% block content %}


<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
						{% if cur_branche %}
						<a href="{% url 'branche_help' cur_branche.id %}">
						    {{ cur_branche.title }}
						</a>
						{% endif %}
                    </a>
                </li>
                
                <!-- 所有协议 -->
                <li>
                    <a href="{% url 'branche_detail' cur_branche.id %}">
                    {% if not cur_module %}
                    =>
                    {% endif %}
                    所有协议
                    </a>
                </li>

				{% for module in modules %}
				<li><a href="{% url 'module_detail' module.id %}">
				{% if cur_module.id == module.id %}
                =>
                {% endif %}
				
				{{ module.namedesc }}
				
				</a></li>
				{% endfor %}
                
				<li><p/></li>
				<li>
					<button id="export_project" class="btn btn-success btn-large btn-block">导出项目</button>
                    <button id="sync_proto" class="btn btn-primary btn-large btn-block">同步协议</button>
					<button id="admin_system" class="btn btn-danger btn-large btn-block">系统管理</button>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	
                <div class="row">
                    <div class="col-lg-12">
            	        {% block project_content %}{% endblock project_content %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
	
	<script>
		$(document).ready(function() {
            
            $("#admin_system").click(function(e) {
                e.preventDefault();
                location.replace('/admin');
                return false;
            });
		});
	
	</script>



{% endblock %}