

<table id="protocal_lists" class="table table-hover">
   <thead>
      <tr>
         <th>协议ID</th>
         <th>名字</th>
         <th>类型</th>
         <th >描述</th>
         <th class='col-sm-3'>  </th>
      </tr>
   </thead>
   <tbody>
   	{% for protocal in protocals %}
      <tr  id="{{ protocal.id }}" title="{{ protocal.name }}">
         <td class="show_protocal_detail">{{ protocal.protocal_id }}</td>
         <td class="show_protocal_detail">{{ protocal.name }}</td>
         <td class="show_protocal_detail">{{ protocal.type.name }}</td>
         <td class="show_protocal_detail">{{ protocal.desc }}</td>
         <td>
         <a id="edit_protocal_segments" href="{% url 'segments_detail' protocal.id %}" class="btn btn-primary btn-large" val="{{ protocal.id }}">编辑字段</a>
         <button class="edit_protocal btn btn-success btn-large" val="{% url 'protocal_edit' cur_project.id protocal.id %}" name="{{ protocal.name }}">修改</button>
         <button class="delete_protocal btn btn-danger btn-large" val="{{protocal.id}}" name = "{{ protocal.name }}">删除</button>
         </td>
      </tr>
	  {% endfor %}
   </tbody>
</table>

<script>
$(document).ready(function() {
	$(".show_protocal_detail").click(function(e) {
		e.preventDefault();
		
		var protocal_id = $(this).parent().attr('id');
		var parent_url = '{% url 'protocal_detail_parent' %}';
		var url = parent_url + protocal_id;
		var dtitle = "协议-" + $(this).parent().attr('title');
		console.log(url)
 		BootstrapDialog.show({
 			 title:dtitle,
		     message: $('<div></div>').load(url)
		 }); 
		

		return false;
	});
   $(".edit_protocal").click(function(e) {
      e.preventDefault();
      
      var url = $(this).attr('val');
      var dtitle = "协议-" + $(this).attr('name');
      console.log(url)
      BootstrapDialog.show({
          title:dtitle,
           message: $('<div></div>').load(url)
       }); 
      

      return false;
   });
});

        
</script>        